{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
		"padding-line-between-statements": [
			"error",
			{ "blankLine": "always", "prev": "*", "next": "return" },
			{ "blankLine": "always", "prev": "*", "next": "if" },
			{ "blankLine": "always", "prev": "if", "next": "*" }
		]
	}
  
}
